*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 90vh;
    width: 90vw;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    overflow-y: scroll;
    flex-wrap:  wrap;

}
section>div{
    height: 150px;
    width: 150px;
    background-color: aqua;
    border: 1px solid black;

}
